@import '../../scss/constants.scss';

.project {
  margin: 1rem;
  max-width: 25rem;
  display: flex;
  flex-direction: column;
  &__title {
    padding: 0.5rem 1rem 0.5rem 1rem;
    background-color: $primary-color;
    color: $text-color;
  }
  &__description {
    padding: 1rem;
  }
  &__footer {
    margin-top: auto;
    padding: 1rem;
    a {
      margin-right: 0.5rem;
    }
  }
  &__tags {
    margin-top: 1rem;
    display: flex;
  }
  &__tag {
    margin-right: 0.4rem;
    padding: 0.5rem;
    background-color: $background-color;
    color: $text-color;
    border-radius: 1rem;
  }
}
