.squares {
    .square {
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: linear; 
        transform-origin: 50% 50%;
    }
    #square1 {
        animation-name: spin-clockwise;
    }
    #square2 {
        animation-name: spin-counter-clockwise;
    }
}

@keyframes spin-clockwise {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

@keyframes spin-counter-clockwise {
    from {
        transform:rotate(360deg);
    }
    to {
        transform:rotate(0deg);
    }
}